@media only screen and (min-width: 35rem) {

    /** INDEX **/

    .index-body {
        margin: 3.75rem 6.81rem;
    }

    .index-title {
        margin-right: 17rem;
        margin-bottom: -0.1rem;
        font-size: 72px;
    }

    .intro-paragraph {
        margin-right: 12rem;
        margin-top: 1.5rem;
    }

    button {
        margin-top: 1rem;
    }

    .past-projects {
        margin-top: 3.5rem;
    }

    .link-gallery {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .case-image {
        flex: 50%;
        padding: 0.5rem;
    }
    
    img {
        border-radius: 0.625rem;
        max-width: 100%;
        height: auto;
        width: auto\9;
    }
    
} /* end media query */